/* -------------------------------------- */
/* common setting */
* {
    padding: 0;
    margin: 0;
}
svg{
    width: auto;
    height: 100%;
}
.main{
    height: 100vh;
}
.work_frame{
    height: 85vh;
}
/*------------------------ menu-row ---------------------------- */
#menu-row{
    background-color: #1757c6;
}
#updatetime{
    color: #fff;
    font-size: 20pt;
}
.btn{
    --bs-btn-border-color: #000;
    --bs-btn-hover-border-color: #1757c6;
}
/*------------------------ map ---------------------------- */
.pond{
    cursor: pointer;
    fill: #fff;
    stroke: #000;
}
#map_svg text{
    cursor: pointer;
}

.NoShow{
    font-size: 0 !important;
    fill: none !important;
}

/*------------------------ table -------------------------- */
#table_div{
    font-size: 20pt;
}

/*------------------------ offcanvas ---------------------------- */
.offcanvas{
    font-size: 20pt;
}
.legend_frame{
    height: 50px;
}
